*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: #5a473a;
}

body{
    //background: #F2EEE3;
}

#header{
    height: 100px;
    background: #BAAF92;
    margin-bottom: 30px;
}

#logo{
    text-align: center;
    //background: #456;
    line-height: 50px;
    width: 200px;
    margin-left: 30px;
}

#footer{
bottom: 0;
height: 50px;
background: #BAAF92;
margin-top: 30px;
line-height: 50px;
text-align: center;
position: absolute;
bottom: 0;
width: 100%;
}

#content{
    //height: 100%;
}

#cnt{
    margin-top: 30px;
}

#case{
    width: 615;
    height: 355px;
    background:  #BAAF92;
    padding: 5px;
    padding-bottom: 0;
}

#case a{
    margin-left: 30px;
    display: inline-block;
}

#case #btns{
    width: 120px;
    margin: 5px;
    height: 35px;
    line-height: 35px;
}

#graph{
    height: 310px;
    background: #fff;
}

#btns{
    background: #968f76;
    height: 45px;
    bottom: 0;
    line-height: 45px;
}

a{
    text-decoration: none;
}


#inputs{
    width: 615px;
    height: 155px;
    background:  #BAAF92;
    margin-top: 30px;
    margin-left: 0;
}

#inputs .data{
    height: 110px;
}

#inputs .data input{
    width: 70px;
}

#inputs .inputline{
    text-align: left;
    margin-bottom: 40px;
    padding-left: 10px;
    display: inline-block;
}